* {
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root {
    --navbar-height: 59px;
}

#navbar {
    display: flex;
    align-items: center;
}

/* Navigation baer logo and image */
#logo {

    margin: 34px 45px;
}

#logo img {
    height: 56px;
    margin: -25px -30px;
}

#navbar {
    position: relative;
}

#navbar ul {
    display: flex;

}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .4;
}

#navbar ul li {
    /* color: white */
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}
/* home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 400px;
    justify-content: center;
    align-items: center;
    color: white;
}
#home::before{
    content: "";
    background: url('../bg11.jfif')no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
/* color: white; */
text-align: center;
font-size: 1.5rem;
}
/* utility class */
.h-primary{
    font-size: 2.8rem;
    padding: 12px;
}
.h-primary{
    font-size: 2.8rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
/* services services */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid black;
}
#services .box img{
   height: 156px;
   margin: auto;
   display: block;
}

#services{}